# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QT stuff
*.pro.user

# Docs
/docs/_build
/docs/_build/*
/docs/_templates
/docs/_templates/*
/.vscode


# Misc 
make.bat
Makefile
/revosim/bin
/revosim/bin/*
/revosim/build
/revosim/build/*
/revosim/debug
/revosim/debug/*
/revosim/.qtc_clangd
/revosim/.qtc_clangd/*
/revosim/release
/revosim/release/*


